.formGroup {
    display: block;
    margin-bottom: 15px;
}

.formGroup input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.formGroup label {
    position: relative;
    cursor: pointer;
}

.formGroup label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 3px solid #FBB347;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}

.formGroup input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #FBB347;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.title {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: block;
}
